<tbody>
  <tr>
    <td><%= radio_button_tag :flight_id, flight.id %></td>
    <td><%= flight.id %></td>
    <td><%= flight.date.strftime("%B %d, %Y")  %></td>
    <td><%= flight.date.strftime('%I:%M:%S %p') %></td>
    <td><%= flight.from_airport.code %></td>
    <td><%= flight.to_airport.code %></td>
    <td><%= distance_of_time_in_words(flight.duration) %></td>
  <tr>
</tbody>