<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>

<%= render "searchbar" %>


<% if @flights.any? %>
  <%= form_tag new_booking_path, method: "get" do %>  
    <%= render @flights %>
    <br>
    <%= hidden_field_tag :passengers, params[:passengers] %>
    <%= submit_tag "Choose this flight", name: nil %>
  <% end %>
<% else %>
  <% "No Flights" %>
<% end %>